<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Guestbook</title>
</head>
<body>
    <h1>Guestbook</h1>
    <p>Please comment here:</p>
    <form action="/post" method="post">
        <table>
            <tr>
                <th>Name</th>
                <td><input type="text" size="20" name="name" /></td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>
                    <textarea rows="5" cols="40" name="comments"></textarea>
                </td>
            </tr>
        </table>
        <p><button type="submit">Commit</button></p>
    </form>
    <h2>The Comments history</h2>
    <h3>Guest wrote comments(2016/04/01 10:00:02):</h3>
    <p>Comments<br/>Comments</p>
    <h3>Guest wrote comments(2016/04/01 10:00:02):</h3>
    <p>Comments<br/>Comments</p>
</body>
</html>
